<template name="BorderLayout">
    <div class="border-layout">
        <header class="north">
            {{> Template.dynamic region 'north'}}
        </header>
        <section class="container">
            <aside class="west">
                {{> Template.dynamic region 'west'}}
            </aside>
            <article class="middle">
                {{> Template.dynamic region 'middle'}}
            </article>
            <aside class="east">
                {{> Template.dynamic region 'east'}}
            </aside>
        </section>
        <footer>
            {{> Template.dynamic region 'south'}}
        </footer>
    </div>
</template>
