.border-layout
    display flex
    flex-direction column
    > header
        position relative
        flex-shrink 0
        background blue
    > .container
        display flex
        flex 1 1 auto
        > .west, > .east
            position relative
            flex-shrink 0
            background orange
        > .middle
            position relative
            flex 1 1 auto
            background yellow
    > footer
        position relative
        flex-shrink 0
        background red
