a
    cursor pointer

html, body, body > div // body > div is added by savi:core base-layout
    height 100%
    width 100%
    font-size fontSize

body
    background baseBodyBackground
    color baseBodyColor
    margin 0
    overflow hidden
    font-family 'Montserrat', sans-serif
    fontSmoothing(antialiased)

    // Disable click-hold callouts
    user-select none

.hidden
    display none
